VITE_SUPABASE_URL=https://mtlzqfhncejzkoyeflsn.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_GRAPHQL_URL=https://criteria-newn.onrender.com/graphql
VITE_GRAPHQL_WS_URL=wss://criteria-newn.onrender.com/graphql
